<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/base/base::setContent(~{this::content})}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <title>Home</title>
        <style>
            #loader {
                transition: all 0.3s ease-in-out;
                opacity: 1;
                visibility: visible;
                position: fixed;
                height: 100vh;
                width: 100%;
                background: #fff;
                z-index: 90000;
            }

            #loader.fadeOut {
                opacity: 0;
                visibility: hidden;
            }

            .spinner {
                width: 40px;
                height: 40px;
                position: absolute;
                top: calc(50% - 20px);
                left: calc(50% - 20px);
                background-color: #333;
                border-radius: 100%;
                -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
                animation: sk-scaleout 1.0s infinite ease-in-out;
            }

            @-webkit-keyframes sk-scaleout {
                0% {
                    -webkit-transform: scale(0)
                }
                100% {
                    -webkit-transform: scale(1.0);
                    opacity: 0;
                }
            }

            @keyframes sk-scaleout {
                0% {
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }
                100% {
                    -webkit-transform: scale(1.0);
                    transform: scale(1.0);
                    opacity: 0;
                }
            }
        </style>
        <script defer="defer" src="js/main.js"></script>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body class="app">
    <div id="loader">
        <div class="spinner"></div>
    </div>
    <script>
        window.addEventListener('load', function load() {
            const loader = document.getElementById('loader');
            setTimeout(function () {
                loader.classList.add('fadeOut');
            }, 300);
        });
    </script>

    <!-- #Main ============================ -->
    <div class="page-container">

        <!-- ### $App Screen Content ### -->
        <main class="main-content bgc-grey-100">
            <div id="mainContent">
                <div class="full-container">
                    <th:block th:fragment="content">
                        <form th:action="@{/agreement/register}" method="post">
                            <input type="hidden" name="qtno" th:value="${qtno.qtno}">
                            <div class="row gap-20 pos-r">
                                <div class="col-md-6">
                                    <div class="bgc-white p-20 bd h-100">
                                        <h4 class="c-grey-900 mT-10 mB-30">계약 정보 입력</h4>
                                        <div class="mb-3">
                                            <label class="form-label">계약명</label>
                                            <input type="text" name="title"
                                                   class="form-control" placeholder="계약명을 입력하시오" maxlength="20">
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label" for="quotationContent">세부내용</label>
                                            <textarea type="text" name="content" class="form-control h-25" rows="6"
                                                      id="quotationContent" placeholder="세부내용을 입력하세요."
                                                      control-id="ControlID-1" maxlength="1024"></textarea>
                                        </div>
                                        <input type="hidden" name="status" value="0">
                                        <label class="form-label">계약 기간</label>
                                        <div class="row">
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label fw-500">시작일</label>
                                                <div class="timepicker-input input-icon mb-3">
                                                    <div class="input-group">
                                                        <div class="input-group-text bgc-white bd bdwR-0">
                                                            <i class="ti-calendar"></i>
                                                        </div>
                                                        <input type="text" name="startdateText" class="form-control bdc-grey-200 start-date" placeholder="Datepicker">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label fw-500">종료일</label>
                                                <div class="timepicker-input input-icon mb-3">
                                                    <div class="input-group">
                                                        <div class="input-group-text bgc-white bd bdwR-0">
                                                            <i class="ti-calendar"></i>
                                                        </div>
                                                        <input type="text" name="enddateText" class="form-control bdc-grey-200 start-date" placeholder="Datepicker">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="bgc-white p-20 bd">
                                        <h4 class="c-grey-900 mT-10 mB-30">협력 업체 정보</h4>
                                        <div class="mb-3">
                                            <label class="form-label">사업자등록번호<span class="c-red-700 fa-1x"></span></label>
                                            <input th:value="${qtno.contractor.corno}" type="text" name="corno"
                                                   class="form-control bgc-grey-100"
                                                   readonly>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="inputName"><span class="c-red-700 fa-1x"></span>회사명</label>
                                            <input th:value="${qtno.contractor.name}" type="text" name="name"
                                                   class="form-control bgc-grey-100" id="inputName"
                                                   maxlength="150" readonly>
                                        </div>
                                    </div>
                                    <div class="bgc-white mT-20 p-20 bd">
                                        <h4 class="c-grey-900 mT-10 mB-30">견적 정보</h4>
                                        <div class="mb-3">
                                            <label class="form-label">견적 제목</label>
                                            <input type="text" class="form-control bgc-grey-100" th:value="${qtno.title}" readonly>
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label">등록일</label>
                                            <input type="text" class="form-control bgc-grey-100" th:value="${#temporals.format(qtno.regdate , 'yyyy-MM-dd a hh:mm')}" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row gap-20 pos-r">
                                <div class="col-md-12">
                                    <div class="bgc-white mT-20 p-20 bd">
                                        <h4 class="c-grey-900 mT-10 mB-30">견적 자재 정보</h4>
                                        <div class="overflow-x-auto overflow-y-auto" style="max-height: 200px;">
                                            <table class="table table-hover" style="min-width: 500px;">
                                                <thead>
                                                <tr>
                                                    <th class="text-center">자재코드</th>
                                                    <th class="text-center">자재명</th>
                                                    <th class="text-center">수량</th>
                                                    <th class="text-center">단가</th>
                                                    <th class="text-center">견적 금액</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="list : ${qtnomtrl}">
                                                    <td class="text-center" th:text="'MA' + ${#numbers.formatInteger(list.material.mtrlno, 6)}"></td>
                                                    <td class="text-center" th:text="${list.material.name}"></td>
                                                    <td class="text-end" th:text="${list.quantity}"></td>
                                                    <td class="text-end" th:text="${#numbers.formatInteger(list.unitprice, 0, 'COMMA')}"></td>
                                                    <td class="text-end" th:text="${#numbers.formatInteger(list.totalprice, 0, 'COMMA')}"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="row gap-20 pos-r">
                                    <div class="col-md-12">
                                        <div class="bgc-white mT-20 p-20 bd">
                                            <div class="d-flex">
                                                <button type="button" class="btn cur-p btn-secondary btn-color me-2"
                                                        control-id="ControlID-2">취소
                                                </button>
                                                <button type="submit" class="btn btn-primary btn-color"
                                                        control-id="ControlID-4">등록하기
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </form>
                        <script>
                            document.addEventListener('DOMContentLoaded', (event) => {
                                const inputMngrPhone = document.getElementById('inputMngrPhone');
                                const inputPhone = document.getElementById('inputPhone');
                                const inputCorno = document.getElementById('inputCorno');
                                const inputAccountNum = document.getElementById('inputAccountNum');

                                // 숫자만 허용하는 함수
                                const enforceNumericInput = (input) => {
                                    input.addEventListener('input', () => {
                                        input.value = input.value.replace(/[^0-9]/g, '');
                                    });
                                };

                                // 최대 길이를 제한하는 함수
                                const enforceMaxLength = (input, maxLength) => {
                                    input.addEventListener('input', () => {
                                        if (input.value.length > maxLength) {
                                            input.value = input.value.slice(0, maxLength);
                                        }
                                    });
                                };

                                // 각 입력 필드에 숫자만 입력되도록 설정
                                enforceNumericInput(inputMngrPhone);
                                enforceNumericInput(inputPhone);
                                enforceNumericInput(inputCorno);
                                enforceNumericInput(inputAccountNum);
                                // 사업자 등록번호는 최대 10자리로 제한
                                enforceMaxLength(inputCorno, 10);
                            });
                        </script>
                    </th:block>
                </div>
            </div>
        </main>
    </div>
    </body>
</div>
</div>
</main>
<!-- ### $App Screen Footer ### -->
<footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
    <span>Copyright © 2021 Designed by <a href="https://colorlib.com" target="_blank" title="Colorlib">Colorlib</a>. All rights reserved.</span>
</footer>
</div>
</body>
</th:block>
</html>