<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/base/base::setContent(~{this::content})}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <title>Home</title>
        <script src="https://code.jquery.com/jquery-3.7.1.js"
                integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <style>
            #loader {
                transition: all 0.3s ease-in-out;
                opacity: 1;
                visibility: visible;
                position: fixed;
                height: 100vh;
                width: 100%;
                background: #fff;
                z-index: 90000;
            }

            #loader.fadeOut {
                opacity: 0;
                visibility: hidden;
            }

            .spinner {
                width: 40px;
                height: 40px;
                position: absolute;
                top: calc(50% - 20px);
                left: calc(50% - 20px);
                background-color: #333;
                border-radius: 100%;
                -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
                animation: sk-scaleout 1.0s infinite ease-in-out;
            }

            @-webkit-keyframes sk-scaleout {
                0% {
                    -webkit-transform: scale(0)
                }
                100% {
                    -webkit-transform: scale(1.0);
                    opacity: 0;
                }
            }

            @keyframes sk-scaleout {
                0% {
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }
                100% {
                    -webkit-transform: scale(1.0);
                    transform: scale(1.0);
                    opacity: 0;
                }
            }
        </style>
        <script defer="defer" src="js/main.js"></script>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body class="app">
    <div id="loader">
        <div class="spinner"></div>
    </div>

    <!-- #Main ============================ -->
    <div class="page-container">

        <!-- ### $App Screen Content ### -->
        <main class="main-content bgc-grey-100">
            <div id="mainContent">
                <div class="full-container">
                    <th:block th:fragment="content">
                        <div class="row gap-20 pos-r">
                            <div class="bgc-white p-20 bd col-md-12">
                                <div class="d-flex justify-content-between">
                                    <h4 class="c-grey-900 mT-10 mB-30">출고 전체 내역</h4>
                                    <div class="d-flex align-items-center mT-10 mB-30">
                                        <a href="#searchGroup"
                                           class="px-2 py-2" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="searchGroup">
                                            <i class="c-grey-900 ti-search fa-1-25x"></i>
                                        </a>
                                        <div class="dropdown">
                                            <a class="px-2 py-2 ms-2" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="c-grey-900 ti-more-alt fa-1-25x"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="">셀 서식으로 다운로드</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row collapse" id="searchGroup">
                                    <div class="col-md-8"></div>
                                    <div class="col-md-4 mB-15">
                                        <div class="input-group">
                                            <div class="input-group-text"> <!-- #f8f9fa  rgba(0, 0, 0, 0.0625) --bs-btn-border-color -->
                                                <i class="c-grey-900 ti-search"></i>
                                            </div>
                                            <input type="text" class="form-control" id="searchInput" aria-label="searchInput" aria-describedby="inputSearch">
                                            <button class="btn btn-outline-light-group c-grey-900" id="searchButton" type="button">검색</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="overflow-x-auto">
                                    <table class="table table-hover" style="min-width: 1000px;">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="text-center">출고 코드</th>
                                                <th scope="col" class="text-center">요청일</th>
                                                <th scope="col" class="text-center">처리일</th>
                                                <th scope="col" class="text-center">담당자</th>
                                                <th scope="col" class="text-center">자재코드</th>
                                                <th scope="col" class="text-center">자재명</th>
                                                <th scope="col" class="text-center">요청 수량</th>
                                                <th scope="col" class="text-center">출고 상태</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableBody">
                                            <th:block th:each="export : ${exportlist}">
                                                <tr class="export_tr" th:id="${export.exportno}">
                                                    <td class="text-center" th:text="'EX' + ${#numbers.formatInteger(export.exportno, 6)}"></td>
                                                    <td class="text-center" th:text="${#temporals.format(export.duedate, 'yyyy-MM-dd a hh:mm')}"></td>
                                                    <td class="text-center" th:text="${#temporals.format(export.shippeddate, 'yyyy-MM-dd a hh:mm')}"></td>
                                                    <td class="text-center" th:text="${export.shipper != null ? export.shipper.name : 'N/A'}"></td>
                                                    <td class="text-center" th:text="'MA' + ${#numbers.formatInteger(export.prcr.material.mtrlno, 6)}"></td>
                                                    <td class="text-center" th:text="${export.prcr.material.name}"></td>
                                                    <td class="text-end" th:text="${#numbers.formatInteger(export.quantity, 0, 'COMMA')}"></td>
                                                    <td class="text-center" th:text="${export.statusString}"></td>
                                                </tr>
                                            </th:block>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- 출고 상세 정보 모달 -->
                        <div class="modal fade" id="exportModal" tabindex="-1" aria-labelledby="exportModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exportModalLabel">출고 상세정보</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-bordered">
                                            <tr class="table-active">
                                                <th class="text-center">출고 코드</th>
                                                <th class="text-center">출고 상태</th>
                                                <th class="text-center">요청일</th>
                                                <th class="text-center">요청 수량</th>
                                            </tr>
                                            <tr>
                                                <td class="text-center" id="modal-table-exportno">dummy</td>
                                                <td class="text-center" id="modal-table-status">dummy</td>
                                                <td class="text-center" id="modal-table-reqdate">dummy</td>
                                                <td class="text-center" id="modal-table-quantity">dummy</td>
                                            </tr>
                                            <tr class="table-active">
                                                <th class="text-center">조달 계획 코드</th>
                                                <th class="text-center">납기일</th>
                                                <th class="text-center">처리일</th>
                                                <th class="text-center">처리자</th>
                                            </tr>
                                            <tr>
                                                <td class="text-center" id="modal-table-prcrno">dummy</td>
                                                <td class="text-center" id="modal-table-prcrdate">dummy</td>
                                                <td class="text-center" id="modal-table-shippeddate">dummy</td>
                                                <td class="text-center" id="modal-table-shipper">dummy</td>
                                            </tr>
                                        </table>
                                        <table class="table table-bordered">
                                            <tr class="table-active">
                                                <th class="text-center">자재코드</th>
                                                <th class="text-center">자재명</th>
                                                <th class="text-center">자재그룹</th>
                                                <th class="text-center">창고위치</th>
                                                <th class="text-center">현재 수량</th>
                                            </tr>
                                            <tr>
                                                <td class="text-center" id="modal-table-mtrlno">dummy</td>
                                                <td class="text-center" id="modal-table-mtrlname">dummy</td>
                                                <td class="text-center" id="modal-table-mtrlgroup">dummy</td>
                                                <td class="text-center" id="modal-table-mtrlwrhs">dummy</td>
                                                <td class="text-center" id="modal-table-mtrlquantity">dummy</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary c-white" data-bs-dismiss="modal">확인</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script src="/js/export.js"></script>
                        <script>
                            $(document).ready(function () {
                                // 출고 코드 클릭 시 모달 표시
                                $('.export_tr').on('click', function () {
                                    var exportno = $(this).attr('id');

                                    ExportService.readExport(exportno, function (data) {
                                        // console.log(data);
                                        $('#modal-table-exportno').text('EX' + data.exportno.toString().padStart(6, '0'));
                                        $('#modal-table-status').text(data.statusString);
                                        $('#modal-table-reqdate').text(ExportService.formatDate(data.duedate));
                                        $('#modal-table-quantity').text(data.quantity);

                                        $('#modal-table-prcrno').text('P' + data.prcr.prcrno.toString().padStart(6, '0'));
                                        $('#modal-table-prcrdate').text(ExportService.formatDate(data.prcr.reqdate));
                                        $('#modal-table-shippeddate').text(ExportService.formatDate(data.shippeddate));
                                        $('#modal-table-shipper').text(data.shipper.name);

                                        $('#modal-table-mtrlno').text('MA' + data.prcr.material.mtrlno.toString().padStart(6, '0'));
                                        $('#modal-table-mtrlname').text(data.prcr.material.name);
                                        $('#modal-table-mtrlgroup').text(data.prcr.material.materialGroup.name);
                                        $('#modal-table-mtrlwrhs').text(data.prcr.material.materialWarehouse.name);
                                        $('#modal-table-mtrlquantity').text(data.prcr.material.quantity);
                                    });

                                    $('#exportModal').modal('ssehow');
                                });

                                $('#searchButton').on('click', function (e) {
                                    e.preventDefault();

                                    var input = $('#searchInput').val();

                                    if (input) {
                                        window.location.href = "/export/totallist?type=ECMCMNENEM&input=" + input;
                                    } else {
                                        toastService.printToast("검색어를 입력하세요.")
                                    }
                                })
                            });
                        </script>
                    </th:block>
                </div>
            </div>
        </main>
    </div>

    </body>
</th:block>
</html>
