<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/base/base::setContent(~{this::content})}">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width,initial-scale=1,shrink-to-fit=no" name="viewport">
        <title>Home</title>
        <script crossorigin="anonymous"
                integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
                src="https://code.jquery.com/jquery-3.7.1.js"></script>

        <script defer="defer" src="/js/main.js"></script>
    </head>
    <body class="app">
    <div id="loader">
        <div class="spinner"></div>
    </div>
    <script>
        window.addEventListener('load', function load() {
            const loader = document.getElementById('loader');
            setTimeout(function () {
                loader.classList.add('fadeOut');
            }, 300);
        });
    </script>

    <!-- #Main ============================ -->
    <div class="page-container">

        <!-- ### $App Screen Content ### -->
        <main class="main-content bgc-grey-100">
            <div id="mainContent">
                <div class="full-container">
                    <th:block th:fragment="content">
                        <div class="row gap-20 pos-r">
                            <div class="bgc-white p-20 bd col-md-12">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h4 class="c-grey-900 mT-10 mB-30" style="margin-bottom: 0;">조달 계획 목록</h4>
                                    <div class="d-flex flex-column align-items-end">
                                        <div class="d-flex align-items-center" style="margin-bottom: 15px;">
                                            <button class="btn cur-p btn-outline-secondary"
                                                    style="width: 90px; height: 30px; margin-right: 10px; display: flex; align-items: center; justify-content: center; line-height: 30px;"
                                                    type="button">
                                                <a style="text-decoration: none; color: inherit; text-align: center;"
                                                   th:href="@{/order/add}">발주추가</a>
                                            </button>
                                            <button class="btn cur-p btn-outline-secondary"
                                                    style="width: 90px; height: 30px; margin-right: 10px; display: flex; align-items: center; justify-content: center; line-height: 30px;"
                                                    type="button">
                                                <a style="text-decoration: none; color: inherit; text-align: center;"
                                                   th:href="@{/order/update}"
                                                   th:method="get">
                                                    <span class="ti-pencil-alt"></span><span class="icon-name"></span>&nbsp;수정
                                                </a>
                                            </button>
                                            <button class="btn cur-p btn-outline-secondary" id="execute-orders-btn"
                                                    onclick="executeOrders()"
                                                    style="width: 90px; height: 30px; margin-right: 10px; display: flex; align-items: center; justify-content: center; line-height: 30px;"
                                                    type="button">
                                                <a href="#" id="order-link"
                                                   style="text-decoration: none; color: inherit; text-align: center;">Download</a>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="overflow-x-auto">
                                    <table class="table table-bordered table-hover" style="min-width: 2300px;">
                                        <thead>
                                        <tr class="table-active text-center">
                                            <th>
                                                <label>
                                                    <input id="order-code" onclick="toggleCheckboxes(this)"
                                                           type="checkbox">
                                                    조달계획코드
                                                </label>
                                            </th>
                                            <th>납기일</th>
                                            <th>P/O</th>
                                            <th>생산 시작일</th>
                                            <th>제품코드</th>
                                            <th>제품명</th>
                                            <th>생산 수량</th>
                                            <th>자재코드</th>
                                            <th>자재명</th>
                                            <th>자재규격</th>
                                            <th>조달 수량</th>
                                            <th>가용 재고</th>
                                            <th>미달 수량</th>
                                            <th>L/T</th>
                                            <th>등록날짜</th>
                                            <th>수정날짜</th>
                                            <th>조달상태</th>
                                            <th>발주 추가</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tableBody">
                                        <th:block th:each="order, i : ${orderList}">
                                            <th:block th:each="material, j : ${order.materials}">
                                                <tr>
                                                    <th:block th:switch="${material.status}">
                                                        <td th:case="4" class="text-center bgc-red-50">
                                                        <td th:case="7" class="text-center bgc-red-50">
                                                        <td th:case="5" class="text-center bgc-yellow-50" >
                                                        <td th:case="8" class="text-center bgc-yellow-50" >
                                                        <td th:case="2" class="text-center bgc-blue-50" >
                                                        <td th:case="*" class="text-center">
                                                    </th:block>

                                                        <label>
                                                            <input id="order-codeList" type="checkbox" th:disabled="${order.status > 5}">
                                                            <span th:text="'P' + ${#numbers.formatInteger(order.prcrno + j.index, 6)}"></span>
                                                        </label>
                                                    </td>
                                                    <td class="text-center" th:text="${#temporals.format(order.reqdate, 'yyyy-MM-dd')}" th:if="${j.first}" th:rowspan="${order.materials.size()}"></td>
                                                    <td class="text-center" th:text="${order.prdcPlanNo}" th:if="${j.first}" th:rowspan="${order.materials.size()}"></td>
                                                    <td class="text-center" th:text="${#temporals.format(order.startdate, 'yyyy-MM-dd')}" th:if="${j.first}" th:rowspan="${order.materials.size()}"></td>
                                                    <td class="text-center" th:text="'MD'+${#numbers.formatInteger(order.prdcno,6)}" th:if="${j.first}"  th:rowspan="${order.materials.size()}"></td>
                                                    <td class="text-center" th:text="${order.productName}" th:if="${j.first}"  th:rowspan="${order.materials.size()}"></td>

                                                    <td class="text-center" th:text="${order.productQuantity}+ '개' " th:if="${j.first}" th:rowspan="${order.materials.size()}"></td>
                                                    <td class="text-center">
                                                        <span th:text="'MA'+${#numbers.formatInteger(material.mtrlno,6)}"></span>
                                                    </td>
                                                    <td class="text-center">
                                                        <span th:text="${material.name}"></span>
                                                    </td>
                                                    <td class="text-center">
                                                        <span th:text="${material.standard}"></span>
                                                    </td>
                                                    <td class="text-center">
                                                        <span th:text="${order.productMtrlQuantity.get(j.index)} + ' 개'"></span><br/>
                                                    </td>
                                                    <td class="text-center">
                                                        <span th:text="${material.quantity} + '개'"></span>
                                                    </td>
                                                    <td class="text-center">
                                                        <span th:text="${material.procureQuantity} + '개'"></span>
                                                    </td>
                                                    <th:block th:if="${material.leadtime == null}">
                                                        <td class="text-center"><a th:href="@{/contractor/quolist(type='MC', input=${material.mtrlno})}">계약 필요</a></td>
                                                    </th:block>
                                                    <th:block th:unless="${material.leadtime == null}">
                                                        <td class="text-center" th:text="${material.leadtime}"></td>
                                                    </th:block>
                                                    <td class="text-center" th:text="${#temporals.format(order.regdate, 'yyyy-MM-dd')}" th:if="${j.first}"  th:rowspan="${order.materials.size()}"></td>
                                                    <td class="text-center" th:text="${#temporals.format(order.moddate, 'yyyy-MM-dd')}" th:if="${j.first}"  th:rowspan="${order.materials.size()}"></td>
                                                    <td class="text-center" th:text="${material.statusString}"></td> <!-- order.status => order.getStatus() -->
                                                    <td class="text-center">
                                                        <a th:href="@{/order/add(mtrlno=${material.mtrlno})}" class="icon-name" th:if="${material.status < 6}">
                                                        <i class="ti-download"></i></a>
                                                    </td>
                                                </tr>
                                            </th:block>
                                        </th:block>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </main>

        <!-- ### $App Screen Footer ### -->
        <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
        <span>Copyright © 2021 Designed by <a href="https://colorlib.com" target="_blank"
                                              title="Colorlib">Colorlib</a>. All rights reserved.</span>
        </footer>
    </div>
    </body>
</th:block>
</html>
