<!DOCTYPE html>
<html>
<head>
    <title>자재 수정</title>
    <style>
        input[type="text"], textarea {
            font-size: 15px;
            padding: 6px;
            width: 400px;
        }

        textarea {
            height: 100px; /* 텍스트 상자의 높이를 설정 */
        }
    </style>
</head>
<body>
<form action="update" method="post" enctype="multipart/form-data">
    <header><h1>자재수정</h1></header>

    <input type="hidden" name="mtrlno" th:value="${materialupdate.mtrlno}">

    <div>
        자재이름<input type="text" name="name" th:value="${materialupdate.name}">
    </div>
    <br>
    <div>
        <label class="form-label" for="inputState">자재 그룹</label>
        <div class="row">
            <div class="mb-2 col-md-4">
                <select class="form-control" name="grpcode" control-id="ControlID-10">
                    <option value="ETC" selected="selected">자재 그룹을 선택하세요.</option>
                    <option value="BODY">바디</option>
                    <option>...</option>
                </select>
            </div>
            <div class="mb-2 col-md-4">
                <select class="form-control" name="grpcode" control-id="ControlID-10">
                    <option value="" selected="selected">...</option>
                </select>
            </div>
            <div class="mb-3 col-md-4">
                <select class="form-control" name="grpcode" control-id="ControlID-10">
                    <option value="" selected="selected">...</option>
                </select>
            </div>
        </div>
    </div>
    <div class="mb-3 col-md-3">
        <label class="form-label" for="inputState">자재 창고</label>
        <select id="inputState" class="form-control" name="wrhscode" control-id="ControlID-10">
            <th:block th:each="warehouse : ${warehouses}">
                <option th:value="${warehouse.getWrhscode()}" th:text="${warehouse.getWrhsname()}"></option>
            </th:block>
        </select>
    </div>
    <br>
    <div>
        규격 <input type="text" name="standard" th:value="${materialupdate.standard}">
    </div>
    <br>
    <div>
        수량 <input type="number" name="quantity"  th:value="${materialupdate.quantity}">
    </div>
    <br>
    <div>
        세부내용 <input type="text" name="description" th:value="${materialupdate.description}">
    </div>
    <br>
    <div>
        도면 <input type="file">
    </div>
    <br>
    <br>
    <button type="button" id="delete">삭제</button>
    <button type="button" id="cancel">취소</button>
    <input type="submit" value="수정하기">
</form>
</body>
</html>
