<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/base/base::setContent(~{this::content})}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <title>Home</title>
        <script src="https://code.jquery.com/jquery-3.7.1.js"
                integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <style>
            #loader {
                transition: all 0.3s ease-in-out;
                opacity: 1;
                visibility: visible;
                position: fixed;
                height: 100vh;
                width: 100%;
                background: #fff;
                z-index: 90000;
            }

            #loader.fadeOut {
                opacity: 0;
                visibility: hidden;
            }

            .spinner {
                width: 40px;
                height: 40px;
                position: absolute;
                top: calc(50% - 20px);
                left: calc(50% - 20px);
                background-color: #333;
                border-radius: 100%;
                -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
                animation: sk-scaleout 1.0s infinite ease-in-out;
            }

            @-webkit-keyframes sk-scaleout {
                0% {
                    -webkit-transform: scale(0)
                }
                100% {
                    -webkit-transform: scale(1.0);
                    opacity: 0;
                }
            }

            @keyframes sk-scaleout {
                0% {
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }
                100% {
                    -webkit-transform: scale(1.0);
                    transform: scale(1.0);
                    opacity: 0;
                }
            }
        </style>
        <script defer="defer" src="js/main.js"></script>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body class="app">
    <div id="loader">
        <div class="spinner"></div>
    </div>
    <script>
        window.addEventListener('load', function () {
            const loader = document.getElementById('loader');
            setTimeout(function () {
                loader.classList.add('fadeOut');
            }, 300);
        });
    </script>

    <!-- #Main ============================ -->
    <div class="page-container">
        <!-- ### $App Screen Content ### -->
        <main class="main-content bgc-grey-100">
            <div id="mainContent">
                <div class="full-container">
                    <th:block th:fragment="content">
                        <div class="row gap-20 pos-r">
                            <div class="col-md-12">
                                <div class="bgc-white p-20 bd">
                                    <div class="d-flex justify-content-between">
                                        <h4 class="c-grey-900 mT-10 mB-30">견적 목록</h4>
                                        <div class="d-flex align-items-center mT-10 mB-30">
                                            <a href="#searchGroup"
                                               class="px-2 py-2" data-bs-toggle="collapse" role="button"
                                               aria-expanded="false" aria-controls="searchGroup">
                                                <i class="c-grey-900 ti-search fa-1-25x"></i>
                                            </a>
                                            <div class="dropdown">
                                                <a class="px-2 py-2 ms-2" href="" role="button"
                                                   data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="c-grey-900 ti-more-alt fa-1-25x"></i>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="">셀 서식으로 다운로드</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row collapse" id="searchGroup">
                                        <div class="col-md-8"></div>
                                        <div class="col-md-4 mB-15">
                                            <div class="input-group">
                                                <div class="input-group-text">
                                                    <!-- #f8f9fa  rgba(0, 0, 0, 0.0625) --bs-btn-border-color -->
                                                    <i class="c-grey-900 ti-search"></i>
                                                </div>
                                                <input type="text" class="form-control" id="searchInput"
                                                       aria-label="searchInput" aria-describedby="inputSearch">
                                                <button class="btn btn-outline-light-group c-grey-900" id="searchButton"
                                                        type="button">검색
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="overflow-x-auto overflow-y-auto">
                                        <table class="table table-hover" style="min-width: 1200px;">
                                            <thead>
                                            <tr>
                                                <th scope="col" class="text-center">견적 코드</th>
                                                <th scope="col" class="text-center">등록일</th>
                                                <th scope="col" class="text-center">회사 이름</th>
                                                <th scope="col" class="text-center">자재 코드</th>
                                                <th scope="col" class="text-center">자재명</th>
                                                <th scope="col" class="text-center">규격</th>
                                                <th scope="col" class="text-center">수량</th>
                                                <th scope="col" class="text-center">단가</th>
                                                <th scope="col" class="text-center">총 금액</th>
                                                <th scope="col" class="text-center">상태</th>
                                                <th scope="col" class="text-center">계약 등록</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="quotation : ${quotationList}" class="quotationlist"
                                                th:data-id="${quotation.qtno}">
                                                <td class="text-center"
                                                    th:text="'QT' + ${#numbers.formatInteger(quotation.qtno, 6)}"></td>
                                                <td class="text-center"
                                                    th:text="${#temporals.format(quotation.regdate, 'yyyy-MM-dd')}"></td>
                                                <td class="text-center"
                                                    th:text="${quotation.contractor.name}"></td>
                                                <th:block th:if="${quotation.quotationMtrlCount > 0}">
                                                    <td class="text-center"
                                                        th:text="${'MA' + #numbers.formatInteger(quotation.quotationMtrlList.get(0).material.mtrlno, 6)}"></td>
                                                    <td class="text-center"
                                                        th:text="${quotation.quotationMtrlList.get(0).material.name}">
                                                        자재명
                                                    </td>
                                                    <td class="text-center"
                                                        th:text="${quotation.quotationMtrlList.get(0).material.standard}">
                                                        규격
                                                    </td>
                                                    <td class="text-end"
                                                        th:text="${quotation.quotationMtrlList.get(0).quantity}">수량
                                                    </td>
                                                    <td class="text-end"
                                                        th:text="${#numbers.formatInteger(quotation.quotationMtrlList.get(0).unitprice, 0 , 'COMMA')}">단가
                                                    </td>
                                                    <td class="text-end"
                                                        th:text="${#numbers.formatInteger(quotation.quotationMtrlList.get(0).totalprice, 0 , 'COMMA')}">총 금액
                                                    </td>
                                                </th:block>
                                                <th:block th:unless="${quotation.quotationMtrlCount > 0}">
                                                    <td colspan="6" class="col-auto text-center">추가된 자재가 없습니다.</td>
                                                </th:block>
                                                <th:block th:switch="${quotation.status}">
                                                    <td th:case="0" class="text-center bgc-yellow-50" th:text="${quotation.getQuotationStatusString()}"></td>
                                                    <td th:case="1" class="text-center bgc-red-50" th:text="${quotation.getQuotationStatusString()}"></td>
                                                    <td th:case="2" class="text-center bgc-green-50" th:text="${quotation.getQuotationStatusString()}"></td>
                                                    <td th:case="3" class="text-center bgc-blue-50" th:text="${quotation.getQuotationStatusString()}"></td>
                                                    <td th:case="*" class="text-center" th:text="${quotation.getQuotationStatusString()}"></td>
                                                </th:block>
                                                <td class="text-center">
                                                    <a th:href="@{'/agreement/register?qtno=' + ${quotation.qtno}}"
                                                       th:if="${quotation.status == 0}"
                                                       data-bs-toggle="tooltip" data-bs-placement="top"
                                                       data-bs-original-title="계약등록">
                                                        <i class="c-grey-900 ti-stamp fa-1-25x"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script>
                            $(document).ready(function () {
                                $('.quotationlist').on('click', function () {
                                    console.log("Row clicked");
                                    var qtno = $(this).data('id');
                                    var url = '/contractor/quoread?qtno=' + qtno;
                                    console.log("Navigating to: " + url);
                                    window.location.href = url;
                                });

                                $('#searchButton').on('click', function (e) {
                                    e.preventDefault();

                                    var input = $('#searchInput').val();

                                    if (input) {
                                        window.location.href = "/contractor/quolist?type=QCQTMCMNCNCT&input=" + input;
                                    } else {
                                        toastService.printToast("검색어를 입력하세요.")
                                    }
                                })
                            });
                        </script>
                    </th:block>
                </div>
            </div>
        </main>

        <!-- ### $App Screen Footer ### -->
        <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
            <span>Copyright © 2021 Designed by <a href="https://colorlib.com" target="_blank"
                                                  title="Colorlib">Colorlib</a>. All rights reserved.</span>
        </footer>
    </div>
    </body>
</th:block>
</html>
