<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/base/base::setContent(~{this::content})}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <title>자재 상세보기</title>
        <link href="css/style.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.7.1.js"
                integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <style>
            #loader {
                transition: all 0.3s ease-in-out;
                opacity: 1;
                visibility: visible;
                position: fixed;
                height: 100vh;
                width: 100%;
                background: #fff;
                z-index: 90000;
            }

            #loader.fadeOut {
                opacity: 0;
                visibility: hidden;
            }

            .spinner {
                width: 40px;
                height: 40px;
                position: absolute;
                top: calc(50% - 20px);
                left: calc(50% - 20px);
                background-color: #333;
                border-radius: 100%;
                animation: sk-scaleout 1.0s infinite ease-in-out;
            }

            @keyframes sk-scaleout {
                0% {
                    transform: scale(0);
                }
                100% {
                    transform: scale(1.0);
                    opacity: 0;
                }
            }
        </style>
    </head>
    <body class="app">
    <div id="loader">
        <div class="spinner"></div>
    </div>
    <script>
        window.addEventListener('load', function () {
            const loader = document.getElementById('loader');
            setTimeout(function () {
                loader.classList.add('fadeOut');
            }, 300);
        });
    </script>

    <!-- Main Content -->
    <div class="page-container">
        <main class="main-content bgc-grey-100">
            <div id="mainContent">
                <div class="full-container">
                    <th:block th:fragment="content">
                        <div class="row gap-20 pos-r">
                            <div class="col-md-5">
                                <div class="bgc-white p-20 bd h-100">
                                    <div class="d-flex justify-content-between">
                                        <h4 class="c-grey-900 mT-10 mB-30" th:text="${quotation.title}"></h4>
                                        <div class=" mT-10 mB-30">
                                            <a th:href="@{/contractor/quoupdate(qtno=${quotation.qtno})}"
                                               class="px-2 py-2" data-bs-toggle="tooltip" data-bs-placement="top"
                                               data-bs-original-title="견적 수정">
                                                <i class="c-grey-900 ti-pencil-alt fa-1-25x"></i>
                                            </a>
                                            <a th:href="@{/agreement/register(qtno=${quotation.qtno})}"
                                               class="px-2 py-2 ms-2" data-bs-toggle="tooltip" data-bs-placement="top"
                                               data-bs-original-title="계약 추가">
                                                <i class="c-grey-900 ti-stamp fa-1-25x"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="d-flex mb-3">
                                        <div>
                                            <label class="form-label">견적 코드</label><br>
                                            <span class="text-black fa-1-25x" th:text="'QT' + ${#numbers.formatInteger(quotation.qtno, 6)}"></span><br>
                                        </div>
                                        <div class="ms-5">
                                            <label class="form-label">상태</label><br>
                                            <span class="text-black fa-1-25x" th:text="${quotation.status}"></span><br>
                                        </div>
                                    </div>
                                    <div class="d-flex mb-3">
                                        <div>
                                            <label class="form-label">등록일</label><br>
                                            <span class="text-black fa-1-25x" th:text="${#temporals.format(quotation.regdate , 'yyyy-MM-dd')}"></span><br>
                                        </div>
                                        <div class="ms-5">
                                            <label class="form-label">최근 수정일</label><br>
                                            <span class="text-black fa-1-25x"
                                                  th:text="${#temporals.format(quotation.moddate , 'yyyy-MM-dd')}"></span><br>
                                        </div>
                                    </div>
                                    <th:block th:if="${quotation.content != null and !quotation.content.isEmpty()}">
                                        <div class="mb-3">
                                            <label class="form-label">세부 내용</label><br>
                                            <div class="mb-3 overflow-y-auto overflow-x-hidden h-11/2r">
                                                <span class="text-black fa-1-25x" th:text="${quotation.content}"></span>
                                            </div>
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="bgc-white p-20 bd h-100">
                                    <div class="d-flex justify-content-between">
                                        <h4 class="c-grey-900 mT-10 mB-30">업체 정보</h4>
                                        <div class=" mT-10 mB-30">
                                            <a th:href="@{/contractor/read(corno=${quotation.contractor.corno})}"
                                               class="px-2 py-2" data-bs-toggle="tooltip" data-bs-placement="top"
                                               data-bs-original-title="업체 상세 정보">
                                                <i class="c-grey-900 ti-arrow-right fa-1-25x"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">업체명</label><br>
                                        <span class="text-black fa-1-25x" th:text="${quotation.contractor.name}"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">사업자 등록번호</label><br>
                                        <span class="text-black fa-1-25x"
                                              th:text="${quotation.contractor.corno}"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">내선번호</label><br>
                                        <span class="text-black fa-1-25x"
                                              th:text="${quotation.contractor.phone}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="bgc-white p-20 bd h-100">
                                    <div class="d-flex justify-content-between">
                                        <h4 class="c-grey-900 mT-10 mB-30">견적서 파일</h4>
                                        <div class="d-flex">
                                            <div class=" mT-10 mB-30">
                                                <a th:href="@{/contractor/read(corno=${quotation.contractor.corno})}"
                                                   class="px-2 py-2" data-bs-toggle="tooltip" data-bs-placement="top"
                                                   data-bs-original-title="견적서 생성 및 출력">
                                                    <i class="c-grey-900 ti-printer fa-1-25x"></i>
                                                </a>
                                                <a th:href="@{/contractor/read(corno=${quotation.contractor.corno})}"
                                                   class="px-2 py-2" data-bs-toggle="tooltip" data-bs-placement="top"
                                                   data-bs-original-title="파일 추가">
                                                    <i class="c-grey-900 ti-plus fa-1-25x"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="overflow-x-hidden overflow-y-auto vh-25">
                                        <div class="mb-3">
                                            <label class="form-label">파일명</label><br>
                                            <span class="text-black fa-1-25x">파일1</span>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">등록일</label><br>
                                            <span class="text-black fa-1-25x"
                                                  th:text="${quotation.contractor.corno}"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">파일명</label><br>
                                            <span class="text-black fa-1-25x">파일1</span>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">등록일</label><br>
                                            <span class="text-black fa-1-25x"
                                                  th:text="${quotation.contractor.corno}"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">파일명</label><br>
                                            <span class="text-black fa-1-25x">파일1</span>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">등록일</label><br>
                                            <span class="text-black fa-1-25x"
                                                  th:text="${quotation.contractor.corno}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row gap-20 pos-r">
                            <div class="col-md-12">
                                <div class="bgc-white p-20 bd">
                                    <div class="d-flex justify-content-between">
                                        <h4 class="c-grey-900 mT-10 mB-30">자재</h4>
                                        <div class="d-flex">
                                            <div class=" mT-10 mB-30">
<!--                                                <a th:href="@{/contractor/read(corno=${quotation.contractor.corno})}"-->
<!--                                                   class="px-2 py-2" data-bs-toggle="tooltip" data-bs-placement="top"-->
<!--                                                   data-bs-original-title="견적서 생성 및 출력">-->
<!--                                                    <i class="c-grey-900 ti-printer fa-1-25x"></i>-->
<!--                                                </a>-->
                                            </div>
                                        </div>
                                    </div>
                                    <th:block th:if="${quotationMtrlList.size() == 0}">
                                        <span class="text-black fa-1x">추가된 자재가 없습니다...</span>
                                        <a id="inputMaterialFile" th:href="@{/contractor/quoupdate(qtno=${quotation.qtno})}" class="fa-1x">견적 수정하기</a>
                                    </th:block>
                                    <th:block th:unless="${quotationMtrlList.size() == 0}">
                                        <div class="vh-25 overflow-y-auto">
                                            <table class="table table-bordered table-hover" id="quotationMtrlTable">
                                                <thead class="position-sticky top-0 border-1">
                                                <tr>
                                                    <th class="col text-center d-none d-sm-table-cell"></th>
                                                    <th class="col text-center d-none d-sm-table-cell">자재 코드</th>
                                                    <th class="col text-center">자재명</th>
                                                    <th class="col text-center d-none d-sm-table-cell">규격</th>
                                                    <th class="col text-center d-none d-sm-table-cell">현 재고 수량</th>
                                                    <th class="col text-center text-break">월 납품 수량</th>
                                                    <th class="col text-center">단가</th>
                                                    <th class="col text-center">총 금액</th>
                                                    <th class="col text-center">L/T</th>
                                                </tr>
                                                </thead>
                                                <tbody class="quotationMtrlTbody">
                                                <th:block th:each="quotationMtrl, i : ${quotationMtrlList}">
                                                    <tr>
                                                        <td class="text-center d-none d-sm-table-cell" th:text="${i.index + 1}"></td>
                                                        <td class="text-center d-none d-sm-table-cell" th:id="${quotationMtrl.material.mtrlno}" th:text="'MA' + ${#numbers.formatInteger(quotationMtrl.material.mtrlno, 6)}"></td>
                                                        <td class="text-center" th:text="${quotationMtrl.material.name}"></td>
                                                        <td class="text-center d-none d-sm-table-cell" th:text="${quotationMtrl.material.standard}"></td>
                                                        <td class="text-end d-none d-sm-table-cell" th:text="${quotationMtrl.material.quantity}"></td>
                                                        <td class="text-end" th:text="${quotationMtrl.quantity}"></td>
                                                        <td class="text-end" th:text="${#numbers.formatInteger(quotationMtrl.unitprice, 0 , 'COMMA')}"></td>
                                                        <td class="text-end" th:text="${#numbers.formatInteger(quotationMtrl.totalprice, 0 , 'COMMA')}"></td>
                                                        <td class="text-end" th:text="${quotationMtrl.leadtime} + '일'"></td>
                                                    </tr>
                                                </th:block>
                                                </tbody>
                                            </table>
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                        <script>
                            $(document).ready(function () {
                                $('.quotationMtrlTbody').on('click', 'tr', function () {
                                    var row = $(this);
                                    var mtrlno = row.find('td').eq(1).attr('id');
                                    console.log(mtrlno);
                                    if (mtrlno) {
                                        $(location).attr('href', '/material/read?mtrlno=' + mtrlno);
                                    }
                                });
                            });
                        </script>
                    </th:block>
                </div>
            </div>
        </main>

        <!-- Footer -->
        <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
            <span>Copyright © 2021 Designed by <a href="https://colorlib.com" target="_blank"
                                                  title="Colorlib">Colorlib</a>. All rights reserved.</span>
        </footer>
    </div>

    <script src="js/main.js"></script>
    </body>
</th:block>
</html>