<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/base/base::setContent(~{this::content})}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <title>Home</title>
        <style>
            #loader {
                transition: all 0.3s ease-in-out;
                opacity: 1;
                visibility: visible;
                position: fixed;
                height: 100vh;
                width: 100%;
                background: #fff;
                z-index: 90000;
            }

            #loader.fadeOut {
                opacity: 0;
                visibility: hidden;
            }

            .spinner {
                width: 40px;
                height: 40px;
                position: absolute;
                top: calc(50% - 20px);
                left: calc(50% - 20px);
                background-color: #333;
                border-radius: 100%;
                -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
                animation: sk-scaleout 1.0s infinite ease-in-out;
            }

            .pre-text {
                font-size: 30px; /* 원하는 크기로 조정하세요 */
                font-family: Arial, sans-serif; /* 원하는 폰트 패밀리 설정 */
                line-height: 1.5; /* 줄 간격 조정 */
            }

            @-webkit-keyframes sk-scaleout {
                0% { -webkit-transform: scale(0) }
                100% {
                    -webkit-transform: scale(1.0);
                    opacity: 0;
                }
            }

            @keyframes sk-scaleout {
                0% {
                    -webkit-transform: scale(0);
                    transform: scale(0);
                } 100% {
                      -webkit-transform: scale(1.0);
                      transform: scale(1.0);
                      opacity: 0;
                  }
            }
        </style>
        <script defer="defer" src="js/main.js"></script><link href="css/style.css" rel="stylesheet"></head>
    <body class="app">
    <div id="loader">
        <div class="spinner"></div>
    </div>
    <script>
        window.addEventListener('load', function load() {
            const loader = document.getElementById('loader');
            setTimeout(function() {
                loader.classList.add('fadeOut');
            }, 300);
        });
    </script>

    <!-- #Main ============================ -->
    <main class="main-content bgc-grey-100">
        <div id="mainContent">
            <div class="full-container">
                <th:block th:fragment="content">
                    <div class="row gap-20 pos-r">
                        <div class="col-md-8">
                            <div class="bgc-white p-20 bd">
                        <body>
                        <form id="quotationForm" enctype="multipart/form-data">
                            <header><h1>견적등록</h1></header>
                            <div style="font-size: 15px">
                                &nbsp 회사명<br><br>
                                <input class="form-control"  type="text" name="contractorName" id="contractorName" placeholder="회사명을 입력하시오">
                                <br><button type="button" class="btn btn-primary btn-color md-1" id="loadCompanyInfo">불러오기</button>
                            </div>
                            <br>
                            <fieldset>
                               <pre class="pre-text" style="font-size: 15px" > 사업자 등록번호                                주소                                          전화번호</pre>
                                <div lass="mb-3" style="display: flex; gap: 20px; align-items: center;">
                                    <input class="form-control" type="text" name="corno" placeholder="자동작성" readonly>
                                    <input type="text" class="form-control" name="address" placeholder="자동작성" readonly>
                                    <input type="text" class="form-control" name="phone" placeholder="자동작성" readonly>
                                </div>
                                <br>
                                <pre class="pre-text" style="font-size: 15px" > 담당자 성명                                    연락처                                        이메일</pre>
                                <div class="mb-3" style="display: flex; gap: 20px; align-items: center;">
                                    <input type="text" class="form-control" name="mngrName" placeholder="자동작성" readonly>
                                    <input type="text" class="form-control" name="mngrPhone" placeholder="자동작성" readonly>
                                    <input type="text" class="form-control" name="mngrAddress" placeholder="자동작성" readonly>
                                </div>
                                <br>
                            </fieldset>
                            <div style="font-size: 15px">
                                견적제목 <br><br>
                                <input type="text" class="form-control" name="title" placeholder="title">
                            </div>
                            <br>
                            <div style="font-size: 15px">
                                견적내용 <br><br>
                                <input type="text" class="form-control" name="content" placeholder="content">
                            </div>
                            <br>
                            <div style="font-size: 15px">
                                자재코드 <br><br>
                                <input type="text" class="form-control" name="materialCode" id="materialCode" placeholder="MA0001">
                                <br>
                                <button type="button" class="btn btn-primary btn-color md-1" id="loadMaterialInfo">불러오기</button>
                            </div>
                            <div>
                                <br> <input type="text" class="form-control" name="materialDetails" id="materialDetails" placeholder="자재명, 재고수량, 규격, 창고명" readonly>
                            </div>
                            <br>
                            <pre class="pre-text" style="font-size: 15px" > 수량                                                                 단가</pre>
                            <div class="mb-3" style="display: flex; gap: 20px; align-items: center;">
                                <input type="text" class="form-control" name="quantity" placeholder="숫자만 입력하시오 ex) 1">
                                <input type="text" class="form-control" name="unitPrice" placeholder="숫자만 입력하시오">
                            </div>
                            <br>
                            <pre class="pre-text" style="font-size: 15px" > 총금액                                                                L/T</pre>
                            <div class="mb-3" style="display: flex; gap: 20px; align-items: center;">
                                <input type="text" class="form-control" name="totalPrice" placeholder="숫자만 입력하시오">
                                <input type="text" class="form-control" name="leadTime" placeholder="ex) 20240716">
                            </div>
                            <br>
                            <div>
                                견적서 파일 <input type="file" name="file" multiple>
                            </div>
                            <br>
                            <!-- Hidden input for empNo -->
                            <input type="hidden" name="empno" id="empno" value="201758030">

                            <button type="button" class="btn cur-p btn-danger btn-color"  id="cancel">취소</button>
                            <input type="submit" class="btn cur-p btn-dark btn-color" value="등록하기">
                        </form>

                        <script>

                            const server_url = 'http://192.168.1.25:8081'

                            $(document).ready(function () {

                                $('#loadCompanyInfo').click(function () {
                                    var contractorName = $('#contractorName').val();
                                    if (contractorName) {
                                        $.ajax({
                                            url: '/contractor/getContractorDetailsByName',
                                            type: 'GET',
                                            data: { contractorName: contractorName },
                                            success: function(data) {
                                                $('input[name="corno"]').val(data.corno);
                                                $('input[name="address"]').val(data.address1 + ' ' + (data.address2 || ''));
                                                $('input[name="phone"]').val(data.phone);
                                                $('input[name="mngrName"]').val(data.mngrName);
                                                $('input[name="mngrPhone"]').val(data.mngrPhone);
                                                $('input[name="mngrAddress"]').val(data.mngrAddress);
                                            },
                                            error: function(jqXHR, textStatus, errorThrown) {
                                                console.error('Failed to fetch contractor details:', textStatus, errorThrown);
                                                alert('회사 정보를 불러오는데 실패했습니다.');
                                            }
                                        });
                                    } else {
                                        alert('회사명을 입력해주세요.');
                                    }
                                });

                                $('#loadMaterialInfo').click(function () {
                                    var materialCode = $('#materialCode').val();
                                    if (materialCode) {
                                        $.ajax({
                                            url: '/rest/material/details',
                                            type: 'GET',
                                            data: { mtrlno: materialCode },
                                            success: function(data) {
                                                if (data) {
                                                    $('#materialDetails').val(data.name + ', ' + data.quantity + ', ' + data.standard + ', ' + data.materialWarehouse.name);
                                                } else {
                                                    alert('자재 정보를 찾을 수 없습니다.');
                                                }
                                            },
                                            error: function(jqXHR, textStatus, errorThrown) {
                                                console.error('Failed to fetch material details:', textStatus, errorThrown);
                                                alert('자재 정보를 불러오는데 실패했습니다.');
                                            }
                                        });
                                    } else {
                                        alert('자재코드를 입력해주세요.');
                                    }
                                });

                                $('#quotationForm').submit(function (event) {
                                    event.preventDefault();

                                    var quotationData = {
                                        title: $('input[name="title"]').val(),
                                        content: $('input[name="content"]').val(),
                                        status: 0,
                                        contractor: {
                                            corno: $('input[name="corno"]').val() // 사업자 등록번호
                                        },
                                        emp: {
                                            empno: $('input[name="empno"]').val() // 사원 번호
                                        }
                                    };
                                    $.ajax({
                                        url: 'http://localhost:8080/quotation/save',
                                        type: 'POST',
                                        data: JSON.stringify(quotationData),
                                        contentType: 'application/json',
                                        success: function(response) {
                                            var quotationId = response; // 서버로부터 받은 견적서 ID
                                            uploadFilesWithQuotationId(quotationId); // 파일 업로드 함수 호출

                                            // QuotationMtrl 정보 저장
                                            var materialId = $('#materialCode').val();
                                            // var materialId = getMaterialIdByCode(materialCode); // 자재 코드로 자재 ID 가져오기

                                            // QuotationMtrl 정보 저장
                                            var quotationMtrlData = {
                                                quotationId: quotationId,
                                                materialId: materialId, // 서버에서 가져온 자재 ID
                                                quantity: $('input[name="quantity"]').val(), // 수량
                                                unitprice: $('input[name="unitPrice"]').val(), // 단가
                                                totalprice: $('input[name="totalPrice"]').val(), // 총금액
                                                leadtime: $('input[name="leadTime"]').val() // L/T
                                            };
                                            saveQuotationMtrl(quotationMtrlData);
                                        },
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            console.error('견적서 저장 실패:', textStatus, errorThrown);
                                            alert('견적서 저장에 실패했습니다.');
                                        }
                                    });
                                });

                                function uploadFilesWithQuotationId(quotationId) {
                                    var fileData = new FormData();
                                    var files = $('input[name="file"]')[0].files;

                                    for (var i = 0; i < files.length; i++) {
                                        fileData.append('file', files[i]);
                                    }
                                    // fileData.append("qtno", quotationId); // `qtno`를 파일 데이터에 추가
                                    $.ajax({
                                        url: server_url + '/uploadFile',
                                        type: 'POST',
                                        data: fileData,
                                        processData: false,
                                        contentType: false,
                                        success: function(response) {
                                            var metadata = {
                                                name: response.name,
                                                url: response.url,
                                                uuid: response.uuid,
                                                qtno: quotationId
                                            };
                                            sendFileMetadataToMainServer(metadata);
                                        },
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            console.error('파일 업로드 실패:', textStatus, errorThrown);
                                            alert('파일 업로드에 실패했습니다.');
                                        }
                                    });
                                }
                                function sendFileMetadataToMainServer(metadata) {
                                    $.ajax({
                                        url: 'http://localhost:8080/quotationFile/save',
                                        type: 'POST',
                                        data: JSON.stringify(metadata),
                                        contentType: 'application/json',
                                        success: function(response) {
                                            window.location.href = '/contractor/quolist';
                                        },
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            console.error('파일 메타데이터 저장 실패:', textStatus, errorThrown);
                                            alert('파일 메타데이터 저장에 실패했습니다.');
                                        }
                                    });
                                }
                                function saveQuotationMtrl(quotationMtrlData) {
                                    $.ajax({
                                        url: 'http://localhost:8080/quotationMtrl/save',
                                        type: 'POST',
                                        data: JSON.stringify(quotationMtrlData),
                                        contentType: 'application/json',
                                        success: function(response) {
                                            console.log('견적 자재 정보 저장 성공:', response);
                                        },
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            console.error('견적 자재 정보 저장 실패:', textStatus, errorThrown);
                                        }
                                    });
                                }


                            });
                        </script>

                        </body>
</html>

</th:block>
                </div>
            </div>
        </main>

        <!-- ### $App Screen Footer ### -->
        <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
            <span>Copyright © 2021 Designed by <a href="https://colorlib.com" target="_blank" title="Colorlib">Colorlib</a>. All rights reserved.</span>
        </footer>
    </div>
    </body>
</th:block>
</html>
