<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/base/base::setContent(~{this::content})}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <title>자재 상세보기</title>
        <link href="css/style.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.7.1.js"
                integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <style>
            #loader {
                transition: all 0.3s ease-in-out;
                opacity: 1;
                visibility: visible;
                position: fixed;
                height: 100vh;
                width: 100%;
                background: #fff;
                z-index: 90000;
            }

            #loader.fadeOut {
                opacity: 0;
                visibility: hidden;
            }

            .spinner {
                width: 40px;
                height: 40px;
                position: absolute;
                top: calc(50% - 20px);
                left: calc(50% - 20px);
                background-color: #333;
                border-radius: 100%;
                animation: sk-scaleout 1.0s infinite ease-in-out;
            }

            @keyframes sk-scaleout {
                0% {
                    transform: scale(0);
                }
                100% {
                    transform: scale(1.0);
                    opacity: 0;
                }
            }
        </style>
    </head>
    <body class="app">
    <div id="loader">
        <div class="spinner"></div>
    </div>
    <script>
        window.addEventListener('load', function () {
            const loader = document.getElementById('loader');
            setTimeout(function () {
                loader.classList.add('fadeOut');
            }, 300);
        });
    </script>

    <!-- Main Content -->
    <div class="page-container">
        <main class="main-content bgc-grey-100">
            <div id="mainContent">
                <div class="full-container">
                    <th:block th:fragment="content">
                        <div class="row gap-20 pos-r">
                            <div class="col-md-5">
                                <div class="bgc-white p-20 bd h-100">
                                    <div class="d-flex justify-content-between">
                                        <h4 class="c-grey-900 mT-10 mB-30" th:text="${quotation.title}"></h4>
                                        <div class=" mT-10 mB-30">
                                            <a th:href="@{/contractor/quoupdate(qtno=${quotation.qtno})}"
                                               class="px-2 py-2" data-bs-toggle="tooltip" data-bs-placement="top"
                                               data-bs-original-title="견적 수정">
                                                <i class="c-grey-900 ti-pencil-alt fa-1-25x"></i>
                                            </a>
                                            <a th:href="@{/agreement/register(qtno=${quotation.qtno})}" th:if="${quotation.status == 0 or quotation.status == 6}"
                                               class="px-2 py-2 ms-2" data-bs-toggle="tooltip" data-bs-placement="top"
                                               data-bs-original-title="계약 추가">
                                                <i class="c-grey-900 ti-stamp fa-1-25x"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="d-flex mb-3">
                                        <div>
                                            <label class="form-label">견적 코드</label><br>
                                            <i class="c-grey-600 ti-key me-1"></i>
                                            <span class="text-black fa-1-25x"
                                                  th:text="'QT' + ${#numbers.formatInteger(quotation.qtno, 6)}"></span><br>
                                        </div>
                                        <div class="ms-5">
                                            <label class="form-label">상태</label><br>
                                            <i class="c-grey-600 ti-face-smile me-1"></i>
                                            <span class="text-black fa-1-25x" th:text="${quotation.getQuotationStatusString()}"></span>
                                            <a th:if="${quotation.status == 2}" tabindex="0" class="px-2 py-2" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="계약 정보" th:attr="data-bs-content=${#temporals.format(agreementList.get(0).startdate, 'yyyy-MM-dd') + ' 부터 ' + #temporals.format(agreementList.get(0).enddate, 'yyyy-MM-dd') + ' 까지'}">
                                                <i class="c-blue-700 ti-info-alt fa-1x"></i>
                                            </a>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6 mb-3">
                                            <label class="form-label">등록일</label><br>
                                            <i class="c-grey-600 ti-calendar me-1"></i>
                                            <span class="text-black fa-1-25x"
                                                  th:text="${#temporals.format(quotation.regdate , 'yyyy-MM-dd a hh:mm')}"></span><br>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label">최근 수정일</label><br>
                                            <i class="c-grey-600 ti-calendar me-1"></i>
                                            <span class="text-black fa-1-25x"
                                                  th:text="${#temporals.format(quotation.moddate , 'yyyy-MM-dd a hh:mm')}"></span><br>
                                        </div>
                                    </div>
                                    <th:block th:if="${quotation.content != null and !quotation.content.isEmpty()}">
                                        <div class="mb-3">
                                            <label class="form-label">세부 내용</label><br>
                                            <div class="mb-3 overflow-y-auto overflow-x-hidden h-11/2r">
                                                <i class="c-grey-600 ti-align-left me-1"></i>
                                                <span class="text-black fa-1-25x" th:text="${quotation.content}"></span>
                                            </div>
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="bgc-white p-20 bd h-100">
                                    <div class="d-flex justify-content-between">
                                        <h4 class="c-grey-900 mT-10 mB-30">업체 정보</h4>
                                        <div class=" mT-10 mB-30">
                                            <a th:href="@{/contractor/read(corno=${quotation.contractor.corno})}"
                                               class="px-2 py-2" data-bs-toggle="tooltip" data-bs-placement="top"
                                               data-bs-original-title="업체 상세 정보">
                                                <i class="c-grey-900 ti-arrow-right fa-1-25x"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">업체명</label><br>
                                        <i class="c-grey-600 ti-briefcase me-1"></i>
                                        <span class="text-black fa-1-25x" th:text="${quotation.contractor.name}"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">사업자 등록번호</label><br>
                                        <i class="c-grey-600 ti-key me-1"></i>
                                        <span class="text-black fa-1-25x"
                                              th:text="${quotation.contractor.corno}"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">내선번호</label><br>
                                        <i class="c-grey-600 ti-mobile me-1"></i>
                                        <span class="text-black fa-1-25x"
                                              th:text="${quotation.contractor.phone}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="bgc-white p-20 bd h-100" >
                                        <div class="d-flex justify-content-between" >
                                            <h4 class="c-grey-900 mT-10 mB-30">견적서 파일</h4>
                                            <div class="d-flex">
                                                <div class=" mT-10 mB-30">
                                                    <a th:href="@{/contractor/quotationForm(qtno=${quotation.qtno})}"
                                                       class="px-2 py-2" data-bs-toggle="tooltip"
                                                       data-bs-placement="top"
                                                       data-bs-original-title="견적서 생성 및 출력">
                                                        <i class="c-grey-900 ti-printer fa-1-25x"></i>
                                                    </a>
                                                    <a id="inputQuoFile"
                                                       class="px-2 py-2" data-bs-toggle="tooltip"
                                                       data-bs-placement="top"
                                                       data-bs-original-title="파일 추가">
                                                        <i class="c-grey-900 ti-plus fa-1-25x"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="overflow-x-hidden overflow-y-auto vh-25">
                                        <div class="accordion" id="materialFileAccordion">
                                            <th:block th:each="file, iterStat : ${quoFileList}">
                                                <th:block th:if="${iterStat.first}">
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header">
                                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" th:attr="data-bs-toggle='collapse', data-bs-target='#collapse' + ${iterStat.index}, aria-controls='collapse' + ${iterStat.index}, aria-expanded='true'">
                                                                <span th:text="${file.name}"></span>
                                                            </button>
                                                        </h2>
                                                        <div th:id="'collapse'+${iterStat.index}" class="accordion-collapse collapse show" data-bs-parent="#materialFileAccordion">
                                                            <div class="accordion-body">
                                                                <a th:href="@{'http://m-it.iptime.org:8028/quotation/display?file=' + ${file.uuid} + '_' + ${file.name}}" target="_blank">
                                                                    <img th:src="@{'http://m-it.iptime.org:8028/quotation/display?file=' + ${file.uuid} + '_' + ${file.name}}"
                                                                         class="card-img-top mb-3" th:alt="'http://m-it.iptime.org:8028/quotation/display?file=' + ${file.uuid} + '_' + ${file.name}"
                                                                         style="height: 180px; object-fit: cover;">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </th:block>
                                                <th:block th:unless="${iterStat.first}">
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header">
                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:attr="data-bs-toggle='collapse', data-bs-target='#collapse' + ${iterStat.index}, aria-controls='collapse' + ${iterStat.index}, aria-expanded='false'">
                                                                <span th:text="${file.name}"></span>
                                                            </button>
                                                        </h2>
                                                        <div th:id="'collapse'+${iterStat.index}" class="accordion-collapse collapse" data-bs-parent="#materialFileAccordion">
                                                            <div class="accordion-body">
                                                                <a th:href="@{'http://m-it.iptime.org:8028/quotation/display?file=' + ${file.uuid} + '_' + ${file.name}}" target="_blank">
                                                                    <img th:src="@{'http://m-it.iptime.org:8028/quotation/display?file=' + ${file.uuid} + '_' + ${file.name}}"
                                                                         class="card-img-top mb-3" th:alt="'http://m-it.iptime.org:8028/quotation/display?file=' + ${file.uuid} + '_' + ${file.name}"
                                                                         style="height: 180px; object-fit: cover;">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </th:block>
                                            </th:block>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row gap-20 pos-r">
                            <div class="col-md-12">
                                <div class="bgc-white p-20 bd">
                                    <div class="d-flex justify-content-between">
                                        <h4 class="c-grey-900 mT-10 mB-30">자재</h4>
                                        <div class="d-flex">
                                            <div class=" mT-10 mB-30">
                                                <!--                                                <a th:href="@{/contractor/read(corno=${quotation.contractor.corno})}"-->
                                                <!--                                                   class="px-2 py-2" data-bs-toggle="tooltip" data-bs-placement="top"-->
                                                <!--                                                   data-bs-original-title="견적서 생성 및 출력">-->
                                                <!--                                                    <i class="c-grey-900 ti-printer fa-1-25x"></i>-->
                                                <!--                                                </a>-->
                                            </div>
                                        </div>
                                    </div>
                                    <th:block th:if="${quotationMtrlList.size() == 0}">
                                        <span class="text-black fa-1x">추가된 자재가 없습니다...</span>
                                        <a id="inputMaterialFile"
                                           th:href="@{/contractor/quoupdate(qtno=${quotation.qtno})}" class="fa-1x">견적
                                            수정하기</a>
                                    </th:block>
                                    <th:block th:unless="${quotationMtrlList.size() == 0}">
                                        <div class="vh-25 overflow-y-auto overflow-x-auto">
                                            <table class="table table-bordered table-hover" id="quotationMtrlTable" style="min-width: 1200px">
                                                <thead class="position-sticky top-0 border-1">
                                                <tr>
                                                    <th class="col text-center"></th>
                                                    <th class="col text-center">자재 코드</th>
                                                    <th class="col text-center">자재명</th>
                                                    <th class="col text-center">규격</th>
                                                    <th class="col text-center">현 재고 수량</th>
                                                    <th class="col text-center text-break">월 납품 수량</th>
                                                    <th class="col text-center">단가</th>
                                                    <th class="col text-center">총 금액</th>
                                                    <th class="col text-center">L/T</th>
                                                </tr>
                                                </thead>
                                                <tbody class="quotationMtrlTbody">
                                                <th:block th:each="quotationMtrl, i : ${quotationMtrlList}">
                                                    <tr>
                                                        <td class="text-center"
                                                            th:text="${i.index + 1}"></td>
                                                        <td class="text-center"
                                                            th:id="${quotationMtrl.material.mtrlno}"
                                                            th:text="'MA' + ${#numbers.formatInteger(quotationMtrl.material.mtrlno, 6)}"></td>
                                                        <td class="text-center"
                                                            th:text="${quotationMtrl.material.name}"></td>
                                                        <td class="text-center"
                                                            th:text="${quotationMtrl.material.standard}"></td>
                                                        <td class="text-center"
                                                            th:text="${quotationMtrl.material.quantity}"></td>
                                                        <td class="text-center" th:text="${quotationMtrl.quantity}"></td>
                                                        <td class="text-center"
                                                            th:text="${#numbers.formatInteger(quotationMtrl.unitprice, 0 , 'COMMA')}"></td>
                                                        <td class="text-center"
                                                            th:text="${#numbers.formatInteger(quotationMtrl.totalprice, 0 , 'COMMA')}"></td>
                                                        <td class="text-center"
                                                            th:text="${quotationMtrl.leadtime} + '일'"></td>
                                                    </tr>
                                                </th:block>
                                                </tbody>
                                            </table>
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="quoModal" tabindex="-1"
                             aria-labelledby="warehouseAddModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="quoFile">견적서 파일 등록</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label class="form-label" for="inputFile">파일 선택</label>
                                            <input type="file" name="file" class="form-control" id="inputFile">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                                id="cancle">취소
                                        </button>
                                        <button type="button" class="btn btn-primary btn-color disabled" id="uploadButton">
                                            등록하기
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script>
                            $(document).ready(function () {
                                const server_url = 'http://m-it.iptime.org:8028/quotation';

                                var fileData = new FormData();
                                var file;

                                $('#inputQuoFile').on("click", function (e) {
                                    e.preventDefault();
                                    console.log("모달나온다.")
                                    $('#quoModal').modal("show");
                                    $('#inputFile').val(null);
                                });
                                $('#inputFile').on("input", function (e) {
                                    file = $(this)[0].files;
                                    console.log(file);
                                    if (file) {
                                        $('#uploadButton').removeClass("disabled");
                                    }
                                })
                                $('#uploadButton').on("click", function (e) {
                                    e.preventDefault();
                                    for (var i = 0; i < file.length; i++) {
                                        fileData.append('file', file[i]);
                                    }
                                    $.ajax({
                                        url: server_url + '/uploadFile',
                                        type: 'POST',
                                        data: fileData,
                                        processData: false,
                                        contentType: false,
                                        success: function (response) {
                                            var metadata = {
                                                name: response.name,
                                                url: response.url,
                                                uuid: response.uuid,
                                                qtno: [[${quotation.qtno}]]
                                            };
                                            console.log(metadata);
                                            registerMaterialFile(metadata)
                                        },
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            console.error('파일 업로드 실패:', textStatus, errorThrown);
                                            alert('파일 업로드에 실패했습니다.');
                                            $('#quoModal').modal("hide");
                                        }
                                    });
                                });

                                function registerMaterialFile(metadata) {
                                    $.ajax({
                                        url: '/quotationFile/save',
                                        type: 'POST',
                                        data: JSON.stringify(metadata),
                                        processData: false,
                                        contentType: 'application/json',
                                        success: function (response) {
                                            if(response) {

                                                console.log(response);
                                                toastService.printToast("견적서 파일 업로드 완료 !><")
                                                $('#quoModal').modal("hide");
                                            }else {
                                                console.log("에러에러~")
                                            }
                                        },
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            console.error('파일 업로드 실패:', textStatus, errorThrown);
                                            alert('디비 저장실패 ㅡㅡ');
                                            $('#quoModal').modal("hide");
                                        }

                                    });
                                }
                            });
                        </script>
                    </th:block>
                </div>
            </div>
        </main>

        <!-- Footer -->
        <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
            <span>Copyright © 2021 Designed by <a href="https://colorlib.com" target="_blank"
                                                  title="Colorlib">Colorlib</a>. All rights reserved.</span>
        </footer>
    </div>

    <script src="js/main.js"></script>
    </body>
</th:block>
</html>