<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/base/base::setContent(~{this::content})}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <title>Home</title>
        <style>
            #loader {
                transition: all 0.3s ease-in-out;
                opacity: 1;
                visibility: visible;
                position: fixed;
                height: 100vh;
                width: 100%;
                background: #fff;
                z-index: 90000;
            }

            #loader.fadeOut {
                opacity: 0;
                visibility: hidden;
            }

            .spinner {
                width: 40px;
                height: 40px;
                position: absolute;
                top: calc(50% - 20px);
                left: calc(50% - 20px);
                background-color: #333;
                border-radius: 100%;
                -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
                animation: sk-scaleout 1.0s infinite ease-in-out;
            }

            @-webkit-keyframes sk-scaleout {
                0% {
                    -webkit-transform: scale(0)
                }
                100% {
                    -webkit-transform: scale(1.0);
                    opacity: 0;
                }
            }

            @keyframes sk-scaleout {
                0% {
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }
                100% {
                    -webkit-transform: scale(1.0);
                    transform: scale(1.0);
                    opacity: 0;
                }
            }

            .list-group {
                position: absolute;
                z-index: 1000;
                width: 100%;
                max-height: 200px;
                overflow-y: auto;
            }

            .list-group-item {
                padding: 10px;
                cursor: pointer;
            }

            .list-group-item:hover,
            .list-group-item.active {
                background-color: #ddd;
            }

        </style>
        <script defer="defer" src="/js/main.js"></script>
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body class="app">
    <div id="loader">
        <div class="spinner"></div>
    </div>
    <script>
        window.addEventListener('load', function load() {
            const loader = document.getElementById('loader');
            setTimeout(function () {
                loader.classList.add('fadeOut');
            }, 300);
        });
    </script>

    <!-- #Main ============================ -->
    <div class="page-container">

        <!-- ### $App Screen Content ### -->
        <main class="main-content bgc-grey-100">
            <div id="mainContent">
                <div class="full-container">
                    <th:block th:fragment="content">
                        <form id="quotationForm" enctype="multipart/form-data">
                            <div class="row gap-20 pos-r">
                                <div class="col-md-6">
                                    <div class="bgc-white p-20 bd h-100">
                                        <h4 class="c-grey-900 mT-10 mB-5">견적 수정</h4>
                                        <div class="mb-3">
                                            <label class="form-label" for="quotationTitle">견적 제목<span
                                                    class="c-red-700 fa-1x">*</span></label>
                                            <input type="text" name="title" class="form-control"
                                                   id="quotationTitle" placeholder="견적 제목을 입력하세요"
                                                   control-id="ControlID-1" max="30" th:value="${updateread.title}" required>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="quotationContent">세부내용</label>
                                            <textarea type="text" name="content" class="form-control h-25" rows="6"
                                                      id="quotationContent" placeholder="세부내용을 입력하세요."
                                                      control-id="ControlID-1" maxlength="1024" th:text="${updateread.content}"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="bgc-white p-20 bd">
                                        <h4 class="c-grey-900 mT-10 mB-5">업체 정보</h4>
                                        <div class="mB-30 d-flex">
                                            <span class="c-red-700 fa-1x"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="contractorName">업체명</label>
                                            <input type="text" name="contractorName" class="form-control bgc-grey-100"
                                                   id="contractorName" placeholder="업체명을 입력하세요."
                                                   control-id="ControlID-1" max="30" autocomplete="off" th:value="${updateread.contractor.name}" readonly>
                                            <div id="autocomplete-suggestions" class="list-group"></div>
                                        </div>
                                        <div class="form-container">
                                            <div class="mb-3">
                                                <label class="form-label">사업자 등록번호</label>
                                                <input type="text" name="corno" class="form-control bgc-grey-100" id="corno"
                                                       placeholder="" th:value="${updateread.contractor.corno}" readonly>
                                                <div id="autocomplete-suggestionsConNums" class="list-group"></div>
                                            </div>
                                            <div class="mb-3">
                                                <label>내선번호</label>
                                                <input type="text" name="phone" class="form-control bgc-grey-100" id="phone"
                                                       placeholder="" th:value="${updateread.contractor.phone}" readonly>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">주소</label>
                                                <input type="text" name="address" class="form-control bgc-grey-100" id="address"
                                                       placeholder="" th:value="${updateread.contractor.address1}+${updateread.contractor.address2}" readonly>
                                            </div>
                                            <input type="hidden" name="status" th:value="${updateread.status < 2 or updateread == 6 ? '0' : updateread.status}" id="status">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row gap-20 pos-r">
                                <div class="col-md-12">
                                    <div class="bgc-white p-20 bd">
                                        <div class="d-flex justify-content-between">
                                            <h4 class="c-grey-900 mT-10 mB-5">자재 정보</h4>
                                            <th:block th:if="${updateread.status < 2}">
                                                <div class="mT-10 mB-5">
                                                    <a href="#" id="add-material" class="px-2 py-2" data-bs-toggle="tooltip"
                                                       data-bs-placement="top" data-bs-original-title="자재 추가">
                                                        <i class="c-grey-900 ti-plus fa-1-25x"></i>
                                                    </a>
                                                </div>
                                            </th:block>
                                        </div>
                                        <div class="mB-30 d-flex">
                                            <span class="c-red-700 fa-1x"></span>
                                        </div>
                                        <div class="vh-35 overflow-y-auto overflow-x-auto">
                                            <table class="table table-bordered table-hover" id="quotationMtrlTable" style="min-width: 1200px;">
                                                <thead class="position-sticky top-0 border-1">
                                                <tr>
                                                    <th class="col text-center">자재 코드</th>
                                                    <th class="col text-center">자재명</th>
                                                    <th class="col text-center">규격</th>
                                                    <th class="col text-center">현 재고 수량</th>
                                                    <th class="col text-center">월 납품 수량</th>
                                                    <th class="col text-center">단가</th>
                                                    <th class="col text-center">총 금액</th>
                                                    <th class="col text-center">L/T</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody class="quotationMtrlTbody">
                                                <th:block th:each="list, i : ${materialupdate}">
                                                    <tr class="material-row" th:id="'materialDetail' + ${i.index + 1}" th:name="'materialDetail' + ${i.index + 1}">
                                                        <td><input class="form-control materialCode bgc-grey-100" th:id="'qtmtCode' + ${i.index + 1}" type="hidden" th:name="'qtmtCode' + ${i.index + 1}"
                                                                   placeholder="자재 코드" autocomplete="off" th:value="${list.qtmtno}" readonly>
                                                            <input class="form-control materialCode bgc-grey-100" th:id="'materialCode' + ${i.index + 1}" type="text" th:name="'materialCode' + ${i.index + 1}"
                                                                   placeholder="자재 코드" autocomplete="off" th:value="${list.material.mtrlno}" readonly>
                                                            <div id="autocomplete-suggestions1" class="list-group"></div>
                                                        </td>
                                                        <td><input class="form-control materialName bgc-grey-100" th:id="'materialName' + ${i.index + 1}" type="text" th:name="'materialName' + ${i.index + 1}" placeholder="자재명" autocomplete="off" th:value="${list.material.name}" readonly>
                                                            <div id="autocomplete-suggestions-name1" class="list-group"></div>
                                                        </td>
                                                        <td><input class="form-control materialSpec bgc-grey-100" th:id="'materialSpec' + ${i.index + 1}" type="text" th:name="'materialSpec' + ${i.index + 1}" placeholder="규격" th:value="${list.material.standard}" readonly></td>
                                                        <td><input class="form-control materialStock bgc-grey-100" th:id="'materialStock' + ${i.index + 1}" type="number" th:name="'materialStock' + ${i.index + 1}" placeholder="현 재고 수량" th:value="${list.material.quantity}" readonly></td>
                                                        <td><input type="number" th:name="'quantity' + ${i.index + 1}" th:id="'quantity' + ${i.index + 1}" class="form-control" placeholder="월 납품 수량" th:value="${list.quantity}" required></td>
                                                        <td><input type="number" th:name="'unitPrice' + ${i.index + 1}" th:id="'unitPrice' + ${i.index + 1}" class="form-control" placeholder="단가" th:value="${list.unitprice}" required></td>
                                                        <td><input type="number" th:name="'totalPrice' + ${i.index + 1}" th:id="'totalPrice' + ${i.index + 1}" class="form-control" placeholder="총 금액" th:value="${list.totalprice}" required></td>
                                                        <td><input type="number" th:name="'leadTime' + ${i.index + 1}" th:id="'leadTime' + ${i.index + 1}" class="form-control" placeholder="일 단위 L/T" th:value="${list.leadtime}" required></td>
                                                        <td><a href="#quotationMtrlTable" class="form-control bgc-grey-100 disabled" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="삭제"><i class="c-grey-500 ti-trash fa-1-25x"></i></a></td>
                                                    </tr>
                                                </th:block>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row gap-20 pos-r">
                                <div class="col-md-12">
                                    <div class="bgc-white p-20 bd">
                                        <h4 class="c-grey-900 mT-10 mB-30">견적서 파일 추가</h4>
                                        <div class="mb-3">
                                            <label class="form-label">견적서 파일</label>
                                            <input type="file" name="file" class="form-control" multiple>
                                        </div>
                                        <div class="mt-3">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex">
                                                    <button type="button" class="btn cur-p btn-secondary" id="cancel">
                                                        취소
                                                    </button>
                                                    <input type="submit" class="btn cur-p btn-primary c-white ms-2" value="등록하기">
                                                </div>
                                                <button type="submit" class="btn cur-p btn-danger c-white" id="delete">
                                                    견적 취소
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                const existMaterialCount = [[${materialupdate.size()}]];
                                const exist_qtno = [[${updateread.qtno}]];
                            </script>
                            <script src="/js/quoregister.js"></script>
                            <script>
                                $(document).ready(function () {
                                    $('#delete').on('click', function (e) {
                                        e.preventDefault();
                                        $('#status').val('5');
                                        $(this).closest('form').submit();
                                    });
                                });
                            </script>
                        </form>
                    </th:block>
                </div>
            </div>
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </body>
</th:block>
</html>