<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/base/base::setContent(~{this::content})}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <title>업체 상세보기</title>
        <link href="css/style.css" rel="stylesheet">
        <style>
            #loader {
                transition: all 0.3s ease-in-out;
                opacity: 1;
                visibility: visible;
                position: fixed;
                height: 100vh;
                width: 100%;
                background: #fff;
                z-index: 90000;
            }

            #loader.fadeOut {
                opacity: 0;
                visibility: hidden;
            }

            .spinner {
                width: 40px;
                height: 40px;
                position: absolute;
                top: calc(50% - 20px);
                left: calc(50% - 20px);
                background-color: #333;
                border-radius: 100%;
                animation: sk-scaleout 1.0s infinite ease-in-out;
            }

            @keyframes sk-scaleout {
                0% { transform: scale(0); }
                100% {
                    transform: scale(1.0);
                    opacity: 0;
                }
            }
        </style>
    </head>
    <body class="app">
    <div id="loader">
        <div class="spinner"></div>
    </div>
    <script>
        window.addEventListener('load', function() {
            const loader = document.getElementById('loader');
            setTimeout(function() {
                loader.classList.add('fadeOut');
            }, 300);
        });
    </script>

    <!-- Main Content -->
    <div class="page-container">
        <main class="main-content bgc-grey-100">
            <div id="mainContent">
                <div class="full-container">
                    <th:block th:fragment="content">
                        <div class="row gap-20 pos-r">
                            <div class="col-md-7">
                                <div class="bgc-white p-20 bd">
                                    <div class="d-flex justify-content-between">
                                        <h4 class="c-grey-900 mT-10 mB-30" th:text="${contractorRead.name}"></h4>
                                        <div class=" mT-10 mB-30">
                                            <a th:href="@{/contractor/update(corno=${contractorRead.corno})}" class="px-2 py-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="업체 수정">
                                                <i class="c-grey-900 ti-pencil-alt fa-1-25x"></i>
                                            </a>
                                        </div>
                                    </div>
                                    </a>
                                    <div class="mb-3">
                                        <label class="form-label">사업자 등록번호</label><br>
                                        <i class="c-grey-600 ti-key me-1"></i>
                                        <span class="text-black fa-1-25x" th:text="${contractorRead.corno}"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">내선번호</label><br>
                                        <i class="c-grey-600 ti-mobile me-1"></i>
                                        <span class="text-black fa-1-25x" th:text="${contractorRead.phone}"></span>
                                    </div>
                                    <label class="form-label">주소</label><br>
                                    <div class="mb-1">
                                        <i class="c-grey-600 ti-location-pin me-1"></i>
                                        <span class="text-black fa-1-25x" th:text="${contractorRead.postcode}"></span>
                                    </div>
                                    <div class="mb-3">
                                        <i class="c-grey-600 ti-map me-1"></i>
                                        <span class="text-black fa-1-25x" th:text="${contractorRead.address1}"></span> <br>
                                        <i class="c-grey-600 ps-3 ms-1 me-1"></i>
                                        <span class="text-black fa-1-25x" th:if="${contractorRead.address2 != null and !contractorRead.address2.isEmpty()}" th:text="${contractorRead.address2}"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="bgc-white p-20 bd mT-20">
                                            <h4 class="c-grey-900 mT-10 mB-30">담당자</h4>
                                            <div class="mb-3">
                                                <label class="form-label">이름</label><br>
                                                <i class="c-grey-600 ti-user me-1"></i>
                                                <span class="text-black fa-1-25x" th:text="${contractorRead.mngrName != null and !contractorRead.mngrName.isEmpty() ? contractorRead.mngrName : 'N/A'}"></span>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">연락처</label><br>
                                                <i class="c-grey-600 ti-mobile me-1"></i>
                                                <span class="text-black fa-1-25x" th:text="${contractorRead.mngrPhone != null and !contractorRead.mngrPhone.isEmpty() ? contractorRead.mngrPhone : 'N/A'}"></span>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">이메일</label><br>
                                                <i class="c-grey-600 ti-email me-1"></i>
                                                <span class="text-black fa-1-25x" th:text="${contractorRead.mngrAddress != null and !contractorRead.mngrAddress.isEmpty() ? contractorRead.mngrAddress : 'N/A'}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 pB-20">
                                        <div class="bgc-white p-20 bd mT-20 h-100">
                                            <h4 class="c-grey-900 mT-10 mB-30">결제 정보</h4>
                                            <div class="mb-3">
                                                <label class="form-label">은행</label><br>
                                                <i class="c-grey-600 ti-money me-1"></i>
                                                <span class="text-black fa-1-25x" th:text="${contractorRead.bank != null and !contractorRead.bank.isEmpty() ? contractorRead.bank : 'N/A'}"></span>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">계좌번호</label><br>
                                                <i class="c-grey-600 ti-shortcode me-1"></i>
                                                <span class="text-black fa-1-25x" th:text="${contractorRead.accountNum != null and !contractorRead.accountNum.isEmpty() ? contractorRead.accountNum : 'N/A'}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="bgc-white p-20 bd h-100">
                                    <div class="d-flex justify-content-between mT-10 mB-30">
                                        <div class="d-flex align-items-baseline">
                                            <h4 class="c-grey-900">견적 목록</h4>
                                            <span class="ms-1" th:text="'(' + ${quotationList.size()} + ')'"></span>
                                        </div>
                                        <div>
                                            <a th:href="@{/contractor/quoregister(corno=${contractorRead.corno})}" class="px-2 py-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="견적 추가">
                                                <i class="c-grey-900 ti-plus fa-1-25x"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <th:block th:if="${!quotationList.isEmpty()}">
                                        <div class="overflow-x-hidden overflow-y-auto vh-55">
                                            <div class="list-group">
                                                <th:block th:each="quotation : ${quotationList}">
                                                        <a th:href="@{/contractor/quoread(qtno=${quotation.qtno})}" class="list-group-item list-group-item-action">
                                                            <div class="d-flex w-100 justify-content-between">
                                                                <h5 class="pb-2" th:text="${quotation.title}"></h5>
                                                            <small class="text-body-secondary" th:text="${quotation.getQuotationStatusString()}"></small>
                                                            </div>
                                                            <th:block th:if="${quotation.quotationMtrlList.size() > 0}">
                                                                <span class="pb-1" th:text="'MA' + ${#numbers.formatInteger(quotation.quotationMtrlList.get(0).material.mtrlno, 6)}"></span>
                                                                <span class="pb-1" th:text="${quotation.quotationMtrlList.get(0).material.name}"></span>
                                                                <span class="pb-1" th:if="${quotation.quotationMtrlList.size() > 1}" th:text="' 외 ' + ${quotation.quotationMtrlList.size() - 1} + '개 자재 포함됨.'"></span><br>
                                                            </th:block>
                                                            <th:block th:unless="${quotation.quotationMtrlList.size() > 0}">
                                                                <span class="pb-1">추가된 자재 없음.</span><br>
                                                            </th:block>
<!--                                                            <small class="text-body-secondary" th:text="'계약 ' + ${quotation.agreementCount} + '건, '"></small>-->
                                                            <small class="text-body-secondary" th:text="${#temporals.format(quotation.regdate, 'yyyy-MM-dd a hh:mm')}"></small>
                                                        </a>
                                                </th:block>
                                            </div>
                                        </div>
                                    </th:block>
                                    <th:block th:unless="${!quotationList.isEmpty()}">
                                        <span class="text-black fa-1x">추가된 견적이 없습니다...</span>
                                        <a th:href="@{/contractor/quoregister(corno=${contractorRead.corno})}" class="fa-1x">견적
                                            추가하기</a>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </main>

        <!-- Footer -->
        <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
            <span>Copyright © 2021 Designed by <a href="https://colorlib.com" target="_blank" title="Colorlib">Colorlib</a>. All rights reserved.</span>
        </footer>
    </div>

    <script src="js/main.js" defer></script>
    </body>
</th:block>
</html>
