<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/base/base::setContent(~{this::content})}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <title>Home</title>
        <style>
            #loader {
                transition: all 0.3s ease-in-out;
                opacity: 1;
                visibility: visible;
                position: fixed;
                height: 100vh;
                width: 100%;
                background: #fff;
                z-index: 90000;
            }

            #loader.fadeOut {
                opacity: 0;
                visibility: hidden;
            }

            .spinner {
                width: 40px;
                height: 40px;
                position: absolute;
                top: calc(50% - 20px);
                left: calc(50% - 20px);
                background-color: #333;
                border-radius: 100%;
                -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
                animation: sk-scaleout 1.0s infinite ease-in-out;
            }

            @-webkit-keyframes sk-scaleout {
                0% {
                    -webkit-transform: scale(0)
                }
                100% {
                    -webkit-transform: scale(1.0);
                    opacity: 0;
                }
            }

            @keyframes sk-scaleout {
                0% {
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }
                100% {
                    -webkit-transform: scale(1.0);
                    transform: scale(1.0);
                    opacity: 0;
                }
            }
        </style>
        <script defer="defer" src="js/main.js"></script>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body class="app">
    <div id="loader">
        <div class="spinner"></div>
    </div>
    <script>
        window.addEventListener('load', function load() {
            const loader = document.getElementById('loader');
            setTimeout(function () {
                loader.classList.add('fadeOut');
            }, 300);
        });
    </script>

    <!-- #Main ============================ -->
    <div class="page-container">
        <!-- ### $App Screen Content ### -->
        <main class="main-content bgc-grey-100">
            <div id="mainContent">
                <div class="full-container">
                    <th:block th:fragment="content">
                        <form action="/contractor/register" method="post">
                            <input type="hidden" name="mtrlno" />
                            <div class="row gap-20 pos-r">
                                <div class="col-md-6">
                                    <div class="bgc-white p-20 bd h-100">
                                        <h4 class="c-grey-900 mT-10 mB-5">업체 정보 입력</h4>
                                        <div class="mB-30 d-flex">
                                            <span class="c-red-700 fa-1x">*</span>
                                            <span class="fa-1x">표시는 필수 입력사항입니다.</span>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="inputCorno">사업자 등록번호<span
                                                    class="c-red-700 fa-1x">*</span></label>
                                            <input type="text" name="corno" class="form-control" id="inputCorno"
                                                   placeholder="사업자 등록번호 10자리를 입력하세요." required>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="inputName">협력 업체명<span
                                                    class="c-red-700 fa-1x">*</span></label>
                                            <input type="text" name="name" class="form-control" id="inputName"
                                                   placeholder="협력 업체명을 입력하세요." maxlength="150" required>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="inputPhone">내선번호<span
                                                    class="c-red-700 fa-1x">*</span></label>
                                            <input type="text" name="phone" id="inputPhone" maxlength="11"
                                                   class="form-control"
                                                   placeholder="전화번호를 입력하세요" required>
                                        </div>
                                        <label class="form-label" for="inputAddress1">주소<span class="c-red-700 fa-1x">*</span></label>
                                        <div class="d-flex">
                                            <div class="mb-3">
                                                <input type="text" id="inputAddress0" name="postcode" class="form-control bgc-grey-100"
                                                       placeholder="우편번호" readonly>
                                            </div>
                                            <button type="button" class="btn btn-primary c-white mb-3 ms-2" onclick="execDaumPostcode()">검색</button>
                                        </div>
                                        <div class="mb-2">
                                            <input type="text" name="address1" id="inputAddress1" class="form-control bgc-grey-100"
                                                   placeholder="주소" maxlength="100" required readonly>
                                        </div>
                                        <div class="mb-3">
                                            <input type="text" id="inputAddress3" class="form-control bgc-grey-100"
                                                   placeholder="" readonly>
                                        </div>
                                        <div class="mb-3">
                                            <input type="text" name="address2" id="inputAddress2" class="form-control"
                                                   placeholder="상세 주소를 입력하세요." maxlength="100">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <div class="bgc-white p-20 bd">
                                            <h4 class="c-grey-900 mT-10 mB-30">담당자 정보 입력</h4>
                                            <div class="mb-3">
                                                <label class="form-label" for="inputMngrName">담당자 이름</label>
                                                <input type="text" name="mngrName" id="inputMngrName"
                                                       class="form-control"
                                                       placeholder="담당자 이름을 입력하세요." maxlength="12">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label" for="inputMngrPhone">담당자 연락처</label>
                                                <input type="text" name="mngrPhone" id="inputMngrPhone"
                                                       class="form-control" placeholder="담당자 연락처를 입력하세요."
                                                       maxlength="11">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label" for="inputMngrEmail1">이메일</label>
                                                <input type="email" name="mngrAddress" id="inputMngrEmail1"
                                                       class="form-control" placeholder="담당자 이메일을 입력하세요."
                                                       maxlength="50">
                                            </div>
                                        </div>
                                        <!--                                        <div class="col-md-6">-->
                                        <div class="bgc-white mT-20 p-20 bd">
                                            <h4 class="c-grey-900 mT-10 mB-30">결제 정보 입력</h4>
                                            <div class="mb-3">
                                                <label class="form-label" for="inputBank">은행명</label>
                                                <input type="text" name="bank" id="inputBank" class="form-control"
                                                       placeholder="은행명을 입력하세요." maxlength="30">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label" for="inputAccountNum">계좌번호</label>
                                                <input type="text" name="accountNum" id="inputAccountNum"
                                                       class="form-control" placeholder="계좌번호를 입력하세요." maxlength="20">
                                            </div>
                                        </div>
                                        <!--                                        </div>-->
                                    </div>
                                </div>

                            </div>
                            <div class="row gap-20 pos-r">
                                <div class="col-md-12">
                                    <div class="bgc-white p-20 bd">
                                        <button type="button" class="btn cur-p btn-secondary btn-color"
                                                control-id="ControlID-2">취소
                                        </button>
                                        <button type="submit" class="btn btn-primary btn-color md-1"
                                                control-id="ControlID-4">등록하기
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                        <script>
                            document.addEventListener('DOMContentLoaded', (event) => {
                                const inputMngrPhone = document.getElementById('inputMngrPhone');
                                const inputPhone = document.getElementById('inputPhone');
                                const inputCorno = document.getElementById('inputCorno');
                                const inputAccountNum = document.getElementById('inputAccountNum');

                                // 숫자만 허용하는 함수
                                const enforceNumericInput = (input) => {
                                    input.addEventListener('input', () => {
                                        input.value = input.value.replace(/[^0-9]/g, '');
                                    });
                                };

                                // 최대 길이를 제한하는 함수
                                const enforceMaxLength = (input, maxLength) => {
                                    input.addEventListener('input', () => {
                                        if (input.value.length > maxLength) {
                                            input.value = input.value.slice(0, maxLength);
                                        }
                                    });
                                };

                                // 각 입력 필드에 숫자만 입력되도록 설정
                                enforceNumericInput(inputMngrPhone);
                                enforceNumericInput(inputPhone);
                                enforceNumericInput(inputCorno);
                                enforceNumericInput(inputAccountNum);
                                // 사업자 등록번호는 최대 10자리로 제한
                                enforceMaxLength(inputCorno, 10);
                            });
                        </script>
                        <script>
                            function execDaumPostcode() {
                                new daum.Postcode({
                                    oncomplete: function(data) {
                                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                                        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                                        var addr = ''; // 주소 변수
                                        var extraAddr = ''; // 참고항목 변수

                                        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                                        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                                            addr = data.roadAddress;
                                        } else { // 사용자가 지번 주소를 선택했을 경우(J)
                                            addr = data.jibunAddress;
                                        }

                                        // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                                        if(data.userSelectedType === 'R'){
                                            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                                            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                                            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                                extraAddr += data.bname;
                                            }
                                            // 건물명이 있고, 공동주택일 경우 추가한다.
                                            if(data.buildingName !== '' && data.apartment === 'Y'){
                                                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                                            }
                                            // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                                            if(extraAddr !== ''){
                                                extraAddr = ' (' + extraAddr + ')';
                                            }
                                            // 조합된 참고항목을 해당 필드에 넣는다.
                                            document.getElementById("inputAddress3").value = extraAddr;

                                        } else {
                                            document.getElementById("inputAddress3").value = '';
                                        }

                                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                                        document.getElementById('inputAddress0').value = data.zonecode;
                                        document.getElementById("inputAddress1").value = addr;
                                        // 커서를 상세주소 필드로 이동한다.
                                        document.getElementById("inputAddress2").focus();
                                    }
                                }).open();
                            }
                        </script>
                    </th:block>
                </div>
            </div>
        </main>

        <!-- ### $App Screen Footer ### -->
        <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
            <span>Copyright © 2021 Designed by <a href="https://colorlib.com" target="_blank"
                                                  title="Colorlib">Colorlib</a>. All rights reserved.</span>
        </footer>
    </div>
    </body>
</th:block>
</html>
